"""
Notebook used to inspect for errors in negated dataset. 
"""

In [1]:
import pandas as pd
import json

In [2]:
with open('tasks/nli/negation/snli_test_contradiction_negated.json', 'r') as f:
    data = json.load(f)

In [3]:
data_df = pd.DataFrame(data['instances'])

In [5]:
print(len(data_df))

3237

In [38]:
errors = data_df.loc[(data_df['premise'].str.startswith('The ')|data_df['premise'].str.startswith('the ')) & ~(data_df['premise_negated'].str.startswith('The ')|data_df['premise_negated'].str.startswith('the '))]

In [20]:
error_denom = data_df.loc[(data_df['premise'].str.startswith('The ')|data_df['premise'].str.startswith('the '))]

In [39]:
errors_h = data_df.loc[(data_df['hypothesis'].str.startswith('The ')|data_df['hypothesis'].str.startswith('the ')) & ~(data_df['hypothesis_negated'].str.startswith('The ')|data_df['hypothesis_negated'].str.startswith('the '))]

In [44]:
pd.set_option('display.max_rows', 999)

In [21]:
errors_h_denom = data_df.loc[(data_df['hypothesis'].str.startswith('The ')|data_df['hypothesis'].str.startswith('the '))]

In [22]:
errors_h_denom.shape[0] + error_denom.shape[0]

1096

In [16]:
errors_h.shape[0] + errors.shape[0]

122

In [23]:
122 / 1096

0.11131386861313869

In [5]:
## new type of error.. 

data_df['Negation_duplicated'] = data_df.apply(lambda x: len(set([x['hypothesis'], x['hypothesis_negated'], x['premise'], x['premise_negated']])) != 4,axis=1)

In [6]:
data_df.loc[data_df['Negation_duplicated'], :]

,pairID,premise,hypothesis,premise_negated,hypothesis_negated,label,Negation_duplicated
2454,515664903.jpg#2r1c,A man is rolling a suitcase in front of a bunc...,Thi,No man is rolling a suitcase in front of a bun...,No man is rolling a suitcase in front of a bun...,contradiction,True
2897,571002259.jpg#2r1c,A male with sunglasses is poking at a tree wit...,Nobody is poking,No male with sunglasses is poking at a tree wi...,A male with sunglasses is poking at a tree wit...,contradiction,True

In [7]:
with open('tasks/nli/negation/snli_test_neutral_negated.json', 'r') as f:
    data = json.load(f)

In [8]:
data_df = pd.DataFrame(data['instances'])

In [8]:
print(len(data_df))

3219

In [48]:
errors = data_df.loc[(data_df['premise'].str.startswith('The ')|data_df['premise'].str.startswith('the ')) & ~(data_df['premise_negated'].str.startswith('The ')|data_df['premise_negated'].str.startswith('the '))]

In [27]:
error_denom = data_df.loc[(data_df['premise'].str.startswith('The ')|data_df['premise'].str.startswith('the '))]

In [49]:
errors_h = data_df.loc[(data_df['hypothesis'].str.startswith('The ')|data_df['hypothesis'].str.startswith('the ')) & ~(data_df['hypothesis_negated'].str.startswith('The ')|data_df['hypothesis_negated'].str.startswith('the '))]

In [29]:
errors_h_denom = data_df.loc[(data_df['hypothesis'].str.startswith('The ')|data_df['hypothesis'].str.startswith('the '))]

In [30]:
errors_h_denom.shape[0] + error_denom.shape[0]

1120

In [31]:
errors_h.shape[0] + errors.shape[0]

81

In [33]:
(errors_h.shape[0] + errors.shape[0]) / (errors_h_denom.shape[0] + error_denom.shape[0])

0.07232142857142858

In [9]:
## new type of error.. 

data_df['Negation_duplicated'] = data_df.apply(lambda x: len(set([x['hypothesis'], x['hypothesis_negated'], x['premise'], x['premise_negated']])) != 4,axis=1)

In [10]:
data_df.loc[data_df['Negation_duplicated'], :]

Empty DataFrame
Columns: [pairID, premise, hypothesis, premise_negated, hypothesis_negated, label, Negation_duplicated]
Index: []